## Veritabanı Bağlantı
![alt text](DBAPI.png)

In [2]:
import sqlite3
#sqlite3'e bağlanmak için kullanılan dbapi tabanlı kütüphanedir.

In [4]:
#Data Source=c:\mydb.db;Version=3;
con = sqlite3.connect("./data/mesajlar.db")

#dir(con)

In [7]:
con.execute("""
CREATE TABLE mesaj
(
    id int,
    metin nvarchar(100)      
)
""")

In [ ]:
#con.execute("DROP TABLE mesaj")

In [9]:
con.execute("INSERT INTO mesaj(id,metin) VALUES(1,'mesaj var 1')")
con.execute("INSERT INTO mesaj(id,metin) VALUES(2,'mesaj var 2')")
con.execute("INSERT INTO mesaj(id,metin) VALUES(3,'mesaj var 3')")
con.execute("INSERT INTO mesaj(id,metin) VALUES(4,'mesaj var 4')")

#autocommit IUD işleri otomaitk kalıcı hale gelir.
#bu özellik yoksa commit etmek gerek.
con.commit() #commit etmezsek rollback eder.

In [10]:
#verileri okumak
imlec = con.execute("SELECT * FROM mesaj LIMIT 3") #sqlite ürününde limit 3, mssql'deki top 3'e denk gelir.

#dir(imlec)

In [ ]:
imlec.fetchall() #cursor nesnesi sona gelir. boş dönmeye başlar.

[(1, 'mesaj var 1'), (2, 'mesaj var 2'), (3, 'mesaj var 3')]

## MSSQL'e Bağlanmak
![alt text](MSSQLveOracleBaglanti.png)

In [13]:
import pyodbc #mssql'e bağlanmak için kullanılır

#
pyodbc.drivers() #bilgisayardaki yüklü driverlar.

['SQL Server',
 'SQL Server Native Client 11.0',
 'Oracle in OraDB19Home1',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [18]:
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;UID=myUsername;PWD=myPassword;
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;Trusted_Connection=yes;
config = {
            "driver":"{ODBC Driver 17 for SQL Server}",
            "server" : "localhost",
            "database":"master"
            }

con_str="Driver={driver};Server={server};Database={database};Trusted_Connection=yes;".format_map(config)
con_str

'Driver={ODBC Driver 17 for SQL Server};Server=localhost;Database=master;Trusted_Connection=yes;'

In [19]:
con = pyodbc.connect(con_str)

In [ ]:
imlec = con.execute("SELECT @@version") #sql versiyonunu döndürür

#cursor ile okuyalım.
sonuc = imlec.fetchone() #tek satır tek hücrelik veri için bir tuple döndür.

#
print(sonuc[0])

Microsoft SQL Server 2019 (RTM-CU32-GDR) (KB5065222) - 15.0.4445.1 (X64)
	Aug 13 2025 11:07:18
	Copyright (C) 2019 Microsoft Corporation
	Enterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19045: ) (Hypervisor)

## Pandas ile bağlanmak

In [24]:
import pandas as pd

In [28]:
df = pd.read_sql("""
SELECT 
    Name, 
    Color, 
    ListPrice 
FROM AdventureWorks2012.Production.Product""", con) #pyodbc connection destekleniyor.

#dataframe nesnesi olarak döner.
df.head(3)
df.tail(2)
df.sample(3)
df.describe()
df.describe().T

C:\Users\Abdullah\AppData\Local\Temp\ipykernel_7296\2534923682.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

           count       mean         std  min  25%    50%     75%      max
ListPrice  504.0  438.66625  773.602843  0.0  0.0  49.99  564.99  3578.27

## BONUS (pandas ile klasorlerdeki tüm csv'leri çekmek)

In [70]:
pd.read_csv(r".\data\Urunler\FirmaA\Bib-Shorts.csv",delimiter=":",encoding="utf-16")

   ProductID                 Name  Color  ListPrice
0        855  Men's Bib-Shorts, S  Multi      89.99
1        856  Men's Bib-Shorts, M  Multi      89.99
2        857  Men's Bib-Shorts, L  Multi      89.99

In [88]:
import glob

#
lst = glob.glob("./data/Urunler/*/*.csv",recursive=True)
lst[:3]

['./data/Urunler\\FirmaA\\Bib-Shorts.csv',
 './data/Urunler\\FirmaA\\Bike Racks.csv',
 './data/Urunler\\FirmaA\\Bike Stands.csv']

In [76]:
import glob
import pandas as pd
lst_df = []

#for g in glob.glob("./data/Urunler/*/*.csv",recursive=True):
for firma in glob.glob("./data/Urunler/*"):
    #print(firma.split("\\")[-1])
    for urun in glob.glob(firma+"/*.csv"):
        #print("-->", urun)
        lst_df.append(pd.read_csv(urun,delimiter=":",encoding="utf-16"))
    #print("="*100)

#--------
df = pd.concat(lst_df) #listedeki tüm dfleri üst üste birleştirir.

In [91]:
df

    ProductID                    Name  Color  ListPrice
0         855     Men's Bib-Shorts, S  Multi     89.990
1         856     Men's Bib-Shorts, M  Multi     89.990
2         857     Men's Bib-Shorts, L  Multi     89.990
0         876     Hitch Rack - 4-Bike    NaN    120.000
0         879  All-Purpose Bike Stand    NaN    159.000
..        ...                     ...    ...        ...
9         825  HL Mountain Rear Wheel  Black    327.215
10        826      LL Road Rear Wheel  Black    112.565
11        827      ML Road Rear Wheel  Black    275.385
12        828      HL Road Rear Wheel  Black    357.060
13        829      Touring Rear Wheel  Black    245.010

[295 rows x 4 columns]